*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #f0ffff;
}

#leftbar{
    border: 2px solid red;
    background-color: #9b6e6e;
    width: 7vw;
    height: 100vh;
    display: flex;
    position: fixed;
}

.socialmedias{
    display: block;
    padding: 0px 5px;
    overflow-y: hidden;
}

li{
    margin-bottom: 100px;
    margin-top: 100px;
}

.icon{
    border: 2px solid purple;
    width: 7w;
    height: 7vh;
}

#rightbar{
    border: 2px solid blue;
    background-color: #9b6e6e;
    width: 7vw;
    height: 100vh;
    display: flex;
    position: fixed;
    margin-left: 93vw;
}

.center-header{
    max-width: 1100px;
    height: 130px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.header{
    border: 2px solid red;
    background: #9b6e6e;
    width: 80vw;
    height: 13;
    margin-left: auto;
    margin-right: auto;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    margin-right: auto;
    margin-left: auto;
    display:flex;
}

.content{
    border: 2px solid green;
    width: 15vw;
    height: 15vh;
    background: blue;
    color: white;
    padding: 10px;
    display: flex;
    margin:auto;
    text-align: center;
    overflow-y: hidden;
    font-size: 16px;
}

#center-body{
    max-width: 1100px;
    margin: 5vh auto;
    padding: 0 2%;
    display: flex;
    max-height: 500px;
}

.article{
    border: 2px solid green;
    margin: 0 auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.img{
    width: 477px;
    height: 357px;
    margin-right: auto;
    display:flex;

@media screen and (max-width: 568px){
    .content{
        width: 20vw;
        font-size: 12px
    }
};